{% include base_path %}

{% capture reffile %}
    {% include  references_parsed.bib %}
{% endcapture %}

{% assign refs = reffile | split: '@' %}

{% assign years = site.data.papers.pubs | group_by: "year" %}
{% assign topics =  site.data.papers.pubs | map: "topic" | compact | join: " " | split: " " | uniq | sort %}

<div class="flex-h-container">
    <h1 id="publications">Publications</h1>
    <div class="filter-container">
        <i class="fas fa-filter"></i>
        <select id="filter-dropdown" onchange="filterPapersByTopic(this.value)">
            <option value="">Filter by topic</option>
            {% for t in topics %}
                <option value="{{t}}">{{t}}</option>
            {% endfor %}
        </select>
    </div>
</div>

<table>
{% for y in years %}
{% for p in y.items %}
    <tr id="{{p.id}}">
        <td style="vertical-align: top; font-weight: bold;" class="year">
            {% if forloop.first == true %}
                {{y.name}}
            {% endif %}
        </td>
        <td>
        <div>
            <i class="far fa-file-pdf"></i>
            <b>
                <a class="pub-title" href="files/{{p.id}}.pdf">{{p.title}}</a>
            </b>
            <br>
            <span class="pub-info">
                {{p.author | join: ', ' | replace:'Jo Van Bulck','<b>Jo Van Bulck</b>' }}
                <br> <em>{{p.venue}}</em>, {% if p.month %}{{p.month}},{% endif %} {{p.year}}.
            </span>
        </div>

        <div class="pub-details">
            {% if p.award %}
                <i class="fas fa-star" style="color:#DAA520;"></i>
                {{p.award}}
            {% endif %}
            {% if p.cve %}
                <i class="fas fa-bug"></i>
                {{p.cve}}
            {% endif %}
            {% if p.links %}
                <i class="fas fa-info-circle"></i>
                {% for l in p.links %}
                    <a style="color: var(--global-text-color-light);" href="{{ l[1] }}">{{ l[0] }}</a>{% unless forloop.last == true %},{% endunless %}
                {% endfor %}
            {% endif %}
            {% if p.badge %}
                <i class="fas fa-certificate" style="color:#8C0046;"></i>
                    {{ p.badge }}
            {% endif %}
        </div>
        
        <div>
            <a href="files/{{p.id}}.pdf" class="nounderline">
                <button class="ref-btn">
                    <i class="far fa-file-pdf" style="color: var(--global-pdf-color);"></i> PDF
                </button>
            </a>
            {% if p.website %}
                <a href="{{p.website}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fas fa-globe-europe" aria-hidden="true" style="color: var(--global-link-color)"></i> Website
                    </button>
                </a>
            {% endif %}
            {% if p.wiki %}
                <a href="{{p.wiki}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fab fa-wikipedia-w"></i> Wikipedia
                    </button>
                </a>
            {% endif %}
            {% if p.slides %}
                <a href={% if p.slides == true %}"files/{{p.id}}-slides.pdf"{% else %}"{{p.slides}}"{% endif %} class="nounderline">
                    <button class="ref-btn">
                        <i class="fab fa-slideshare" style="color: var(--global-alert-color);"></i> Slides
                    </button>
                </a>
            {% endif %}
            {% if p.poster %}
                <a href={% if p.poster == true %}"files/{{p.id}}-poster.pdf"{% else %}"{{p.poster}}"{% endif %} class="nounderline">
                    <button class="ref-btn">
                        <i class="far fa-map"></i> Poster
                    </button>
                </a>
            {% endif %}
            {% if p.recording %}
                <a href="{{p.recording}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fas fa-video"></i> Talk
                    </button>
                </a>
            {% endif %}
            {% if p.demo %}
                <a href="{{p.demo}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fas fa-play-circle" style="color: var(--global-pdf-color);"></i> Demo
                    </button>
                </a>
            {% endif %}
            {% if p.github %}
                <a href="{{p.github}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fab fa-github"></i> GitHub
                    </button>
                </a>
            {% endif %}
            {% if p.arxiv %}
                <a href="{{p.arxiv}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fas fa-archive"></i> Extended version (arXiv)
                    </button>
                </a>
            {% endif %}
            {% if p.logo %}
                <button class="ref-btn" onclick='toggleCollapse("logo-{{p.id}}")'>
                    <i class="fab fa-font-awesome-flag"></i> Logo
                </button>
            {% endif %}
            {% if p.bibtex %}
                <button class="ref-btn" onclick='toggleCollapse("bibtex-{{p.id}}")'>
                    <i class="fas fa-quote-left"></i> BibTeX
                </button>
            {% endif %}
            {% if p.tldr or true %}
                <button class="ref-btn" onclick='toggleCollapse("tldr-{{p.id}}")'>
                    <i class="fas fa-share"></i> TL;DR
                </button>
            {% endif %}
        </div>

        <div class="collapsible-panel">
            {% if p.bibtex %}
                {%- for r in refs -%}
                    {%- assign rk = p.bibtex | append: ',' %}
                    {%- if r contains rk -%}
                        <div class="collapsible-content bibtex bibtex-{{p.id}}">
                            <button class="copy-btn" onclick="copyToClipboard(this)">
                                <i class="fas fa-copy"></i>
                                <span class="tooltip">Copied!</span>
                            </button>
                            <pre class="lst">@{{ r }}</pre>
                        </div>
                        {% break %}
                    {%- endif -%}
                {%- endfor -%}
            {% endif %}

            {% if p.logo %}
                <div class="collapsible-min-content logo-{{p.id}}">
                    <table class="bordered-table">
                        <tr>
                            <td>
                                <img style="height: 50px; width: auto;" src="files/{% if p.logo == true %}{{p.id}}{% else %}{{p.logo}}{% endif %}-logo.svg">
                            </td>
                            <td>
                                <a href="files/{% if p.logo == true %}{{p.id}}{% else %}{{p.logo}}{% endif %}-logo.svg"><i class="fa fa-download"></i> SVG</a> /
                                <a href="files/{% if p.logo == true %}{{p.id}}{% else %}{{p.logo}}{% endif %}-logo.png"><i class="fa fa-download"></i> PNG</a>
                            </td>
                        </tr>
                        {% if p.logo-alt %}
                            <tr>
                                <td>
                                    <img style="height: 50px; width: auto;" src="files/{% if p.logo-alt == true %}{{p.id}}{% else %}{{p.logo-alt}}{% endif %}-logo-alt.svg">
                                </td>
                                <td>
                                    <a href="files/{% if p.logo-alt == true %}{{p.id}}{% else %}{{p.logo-alt}}{% endif %}-logo-alt.svg"><i class="fa fa-download"></i> SVG</a> /
                                    <a href="files/{% if p.logo-alt == true %}{{p.id}}{% else %}{{p.logo-alt}}{% endif %}-logo-alt.png"><i class="fa fa-download"></i> PNG</a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            {% endif %}

            {% if p.tldr or true %}
                <div class="collapsible-content tldr-{{p.id}}">
                    <div class="flex-container">
                        {% if p.logo %} 
                            <img style="height: 50px; width: auto;" src="files/{% if p.logo == true %}{{p.id}}{% else %}{{p.logo}}{% endif %}-logo.svg">
                        {% endif %}
                        <p style="flex: 3 0 75%; margin: 0;">{{ p.tldr }}</p>
                    </div>
                    
                    <table class="booktabs">
                        
                        {% if p.topic %}
                            <tr>
                            <td>
                                <i class="fas fa-tags"></i>
                            </td>
                            <td style="width: 100%;">
                                <b>Topics:</b>
                                {% assign topics = p.topic | split: " " %}
                                {% for t in topics %}
                                    <a href="#pubs" onclick="filterPapersByTopic('{{t}}')">{{t}}{% unless forloop.last %},{% endunless %}</a>
                                {% endfor %}
                            </td>
                            </tr>
                        {% endif %}

                        {% if p.prev %}
                            <tr>
                            <td>
                                <i class="fas fa-backward"></i>
                            </td>
                            <td>
                                <b>Prior work:</b>
                                {% assign prev_keys = p.prev | split: " " %}
                                {% for pk in prev_keys %}
                                    {% assign prev = site.data.papers.pubs | where: "id", pk | first %}
                                    <a href="#{{ prev.id }}">{{ prev.short }}</a>
                                    <span style="font-size: .85em;">({{prev.year}})</span>{% unless forloop.last %},{% endunless %}
                                {% endfor %}
                            </td>
                            </tr>
                        {% endif %}

                        {% assign next_keys = site.data.papers.pubs | where_exp: "po", "po.prev contains p.id" | map: "id" | reverse %}
                        {% if next_keys != empty %}
                        <tr>
                            <td>
                                <i class="fas fa-forward"></i>
                            </td>
                            <td>
                                <b>Follow-up work:</b>
                                {% for nk in next_keys %}
                                    {% assign next = site.data.papers.pubs | where: "id", nk | first %}
                                    <a href="#{{ next.id }}">{{ next.short }}</a>
                                    <span style="font-size: .85em;">({{next.year}})</span>{% unless forloop.last %},{% endunless %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            {% endif %}
        </div>
        </td>
    </tr>
{% endfor %}
{% endfor %}
</table>