{% include base_path %}

{% assign years = site.data.talks.talks | group_by: "year" %}
<table>
{% for y in years %}
{% for p in y.items %}
    <tr>
        {% if forloop.first == true %}
            <td style="vertical-align: top;"><b>{{y.name}}</b></td>
        {% else %}
            <td></td>
        {% endif %}
        <td>
        <i class="fas fa-chalkboard-teacher" style="color:DimGray;"></i>
        <b>
            <a class="pub-title" href={% if p.id %}"files/{{p.id}}.pdf"{% else %}"{{p.ext-id}}"{% endif %}>{{p.title}}</a>
        </b>
        <br>
        {{p.author | join: ', ' | replace:'Jo Van Bulck','<b>Jo Van Bulck</b>' }}
        <br>
        <em>{% if p.type %}{{p.type}} @{% endif %} {{p.venue}}</em>, {{p.location}}, {{p.month}}, {{p.year}}.

        <div>
            {% if p.website %}
                <a href="{{p.website}}" class="nounderline">
                    <button class="ref-btn">
                        <!--i class="fas fa-info-circle" title="Info"></i-->
                        <i class="fas fa-globe-europe" aria-hidden="true" style="color:#3793ae"></i> Info
                    </button>
                </a>
            {% endif %}
            {% if p.poster %}
                <a href={% if p.poster == true %}"files/{{p.id}}-poster.pdf"{% else %}"{{p.poster}}"{% endif %} class="nounderline">
                    <button class="ref-btn">
                        <i class="far fa-image" style="color:#cc7000;"></i> Poster
                    </button>
                </a>
            {% endif %}
            {% if p.id %}
                {% unless p.no-slides %}
                <a href="files/{{p.id}}.pdf" class="nounderline">
                    <button class="ref-btn">
                        <i class="fab fa-slideshare" style="color:#cc7000;"></i> Slides
                    </button>
                </a>
                {% endunless %}
            {% endif %}
            {% if p.short-slides %}
                <a href="files/{{p.id}}-short.pdf" class="nounderline">
                    <button class="ref-btn">
                        <i class="fab fa-slideshare" style="color:#cc7000;"></i> Short Slides
                    </button>
                </a>
            {% endif %}            {% if p.recording %}
                <a href="{{p.recording}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fas fa-video"></i> Recording
                    </button>
                </a>
            {% endif %}
            {% if p.audio %}
                <a href="{{p.audio}}" class="nounderline">
                    <button class="ref-btn">
                        <i class="fas fa-music"></i> Audio
                    </button>
                </a>
            {% endif %}
        </div>
        </td>
    </tr>
{% endfor %}
{% endfor %}
</table>
