{% include base_path %}

{% assign years = site.data.awards.awards | group_by: "year" %}
<ul class="compact-lst">
{% for y in years %}
{% for p in y.items %}
    <li>
        <a href="{{p.url}}">{{p.title}}</a>{%if p.venue %} at {{p.venue}}{% endif %}{%if p.for %} for <em>{{p.for}}</em>{% endif %}, {{p.month}}, {{p.year}}.
        {% if p.citation %}
        <a class="collapsible nounderline">
                <i class="fas fa-quote-left" title="Citation"></i>
        </a>
        <div class="content" style="display: none; font-size: .95em; color:gray;">
            <em>"{{ p.citation }}"</em>
        </div>
        {% endif %}
    </li>
{% endfor %}
{% endfor %}
</ul>